<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="theme-color" content="#262f40">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Смотреть футбол онлайн бесплатно и в хорошем качестве. Трансляции спортивных матчей, Матчи АПЛ, Премьер лиги, Лиги Чемпионов, Лиги Европы, РПЛ, Испанской Примеры, Серии А, Лиги 1">
        <meta name="keywords" content="биг лайф спорт, лайв, футбол онлайн, трансляции матчей, смотреть в хорошем качестве, футбольных, без регистрации, бесплатно, трансляции, РПЛ, лига чемпионов">
        <title>game</title><!-- 
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icons/16.png}">
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icons/32.png}">
        <link rel="icon" type="image/png" sizes="64x64" th:href="@{/icons/64.png}"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/game.css}">
        <style type="text/css">
        html {
            background-color: #[[${room.color}]];
        }
        .field-row i {
            font-size: calc(18px - [[${room.size}]]px + 2vw + 1vh);
        }  
        .field-row {
            height: calc(99.9% / [[${room.size}]]);
            border-bottom: calc(9px - [[${room.size}]]px) solid #4141414a;
        }
        .field-row:nth-child([[${room.size}]]) {
            border: none;
        }
        .field-row> div {
            width: calc(99.9% / [[${room.size}]]);
            border-right: calc(9px - [[${room.size}]]px) solid #4141414a;
        }
        .field-row> div:nth-child([[${room.size}]]) {
            border: none;
        }
        </style>
    </head>

    <body>

        <header class="h5 mb-0">
            <div class="logo">
                <img th:src="@{/img/logo.svg}" class="logo-img">
                <i class="h2">nline</i>
            </div>
            <div class="header-right">
                <div th:text="${room.title}"></div>
            </div>
        </header>

        <main class="main">

            <div class="move_index_wrapper h4 mt-4">
                <span>Now plays: </span>
                <span id="move_index" class="h3">
                    <i th:if="${room.nextMove} == -1" class="far fa-circle nought"></i>
                    <i th:if="${room.nextMove} == 1" class="fas fa-times cross"></i>
                </span>
            </div>
            <div class="move_index_wrapper h4 mt-4">
                <span>You: </span>
                <span class="h3">
                    <i th:if="${role} == -1" class="far fa-circle nought"></i>
                    <i th:if="${role} == 1" class="fas fa-times cross"></i>
                </span>
            </div>

            <div class="field">

                <div th:each="row, y: ${room.field}" class="field-row" th:id="'row' + ${y.index}">
                    <div th:each="el, x: ${row}" th:y="${y.index}" th:x="${x.index}"  th:class="'type' + ${el}">
                        <i class="far fa-circle nought"></i>
                        <i class="fas fa-times cross"></i>
                    </div>
                </div>
            </div>

        </main>

        <div class="modal fade" id="modal_window" tabindex="-1" role="dialog" aria-labelledby="modal_window" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel">game over</h6>
                    </div>
                    <div class="modal-body h3">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="ok_button">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </body>

        
    <script th:inline="javascript">
        const room_id = [[${room.title}]]
        const field_size = [[${room.size}]]
        const player_role = [[${role}]]
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:src="@{/js/game.js}"></script>

</html>